<div class="container-fluid mt-3">
   <div class="card-group">
      <div class="card">
        <img class="card-img-top p-3" src="assets/images/course.png" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Courses</h3>
          <p class="card-text">Specially handcrafted courses for the industry standards</p>
          <a routerLink="courses" class="btn btn-primary">Courses</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top p-3" src="assets/images/teacher.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Teachers</h3>
          <p class="card-text">The best experienced teachers specialised for each subjects</p>

          <a routerLink="teachers" class="btn btn-primary">Teachers</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top p-3" src="assets/images/student.png" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Students</h3>
          <p class="card-text">Students will be updated with the cutting edge technology</p>
          <a routerLink="students" class="btn btn-primary">Students</a>
        </div>
      </div>
    </div>
  </div>